.team {
    
    background: #000;
    color: #fff;
    padding: 60px;
    margin-top: 20px;
}
.team .carousel{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.team .small{
    color: #f8cc08;
}

.team .carousel .card{
    background: #222;
    border-radius: 6px;
    padding: 25px 30px;
    width: 300px;
    height: 300px;
    text-align: center;
    overflow: hidden;
    transition: all 0.3s ease;
    margin-right: 20px;
}
.team .carousel .card:hover{
    background: #ffdd40;
    color: #000;
}
.team .carousel .card .box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
 
    
}
.team .carousel .card:hover .box{
    transform: scale(1.05);
}
.team .carousel .card .text{
    font-size: 25px;
    font-weight: 500;
 
  
}
.team .carousel .card img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid #ffdd40;
    transition: all 0.3s ease;
}
.team .carousel .card:hover img{
    border-color: #fff;
}

@media(max-width: 570px){
    .team .carousel .card:hover img{
        border-color: #fff;
    }
    .team .carousel .card{
     width: 280px;
     height: 280px;
    }
}
